%h1 Log In
= form_tag do
  - if @errors
    #error_explanation
      %h2= "#{pluralize(@errors.count, "error")} prohibited this log in:"
      %ul
        - @errors.each do |msg|
          %li= msg
  .field
    = text_field_tag 'username', nil, placeholder:  'Username'
  .actions
    = submit_tag 'Log In'